<div class="jumbotron jumbotron-fluid bg-dark text-white">
	<div class="container">
		<h1>Face on Rails</h1>
		<p>Trying PWAs and stuff</p>

		<div class="progress"  style="height: 5px">
			<div class="progress-bar" style="width:2%;"></div>
			<div class="progress-bar bg-warning" style="width:3%;"></div>
			<div class="progress-bar bg-danger" style="width:10%;"></div>
			<div class="progress-bar bg-success" style="width:70%;"></div>
			<div class="progress-bar bg-info" style="width:14.5%;"></div>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Hola Puto!</h3>
			<p>breaking the rules</p>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
		<div class="col-md-4">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
		<div class="col-md-4 last">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
		<div class="col-md-4">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
		<div class="col-md-4 last">
			<h2>Connect to facebok</h2>
			<p>Signup here with your facebbok account</p>
		</div>
	</div>
</div>